// fonts
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Azedo';
    src: url('assets/fonts/Azedo/Azedo-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Brick';
    src: url('assets/fonts/Brick/Brick-BF64a7c7813c8ac.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$grid-dark: url('assets/img/background_dark.png');
$grid-light: url('assets/img/background_light.png');

body{
    background-image: $grid-light;
    background-color: #BFBFBF;
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1E1E1E;
}
.decorative__ellipse {
    position: fixed;
    top: -20px;
    right: 0;
    height: 100%;
    z-index: -1;
    opacity: 90%;

    &--img{
        width: 100%;
        display: block;
    }
}
.nav {
    position: relative;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
    }

    &__logo {
      font-family: 'Azedo', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      color: var(--text-color);
      text-decoration: none;

      &--highlight{
        position: absolute;
        font-family: 'Brick', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #8673D7;
        top: 0; 
      }
    }
  
    &__list {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      margin-right: 300px;
  
      &--item {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        margin: 0 30px;
        text-decoration: none; // MArche ppassss
        cursor: pointer;
        a {
            text-decoration: none;
            color: #1E1E1E;
        }
      }
    }
  
    &__separator {
      position: absolute;
      margin-top: -40px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      width: 100%;
      max-width: 1440px;
  
  
      &-img {
        width: 100%;
        max-width: 1440px;
        display: block;
      }
    }
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; // plein écran
    text-align: center;
    padding: 0 1rem; // un peu d'air sur petits écrans
  
    &__content {
      max-width: 800px;
      margin: 0 auto;
    }
  
    &__title {
      font-size: 170px;
      font-family: 'Azedo', sans-serif;
      font-weight: 700;
      margin-bottom: 1rem;
      margin-top: -120px;
      color: var(--text-color);
      position: relative;

        &--highlight{
            position: absolute;
            top: -25px;
            left: 40px;
            font-family: 'Brick', sans-serif;
            font-size: 96px;
            font-weight: 700;
            color: #8673D7;
        }
    }   
  
    &__text {
      font-size: 32px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      background: linear-gradient(to right, #8673D7, #01FAEB);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Pour Firefox */
      background-clip: text;
      color: transparent;
    }
    &__btn {
        display: flex;
        justify-content: center;
      
          &--link {
            background: linear-gradient(to right, #8673D7, #01FAEB);
            height: 50px;
            border: none;
            font-size: 1.3rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: #1E1E1E;
            cursor: pointer;
            border-radius: 0 25px;
            position: relative;
            text-decoration: none;
            text-align: center;
            line-height: 50px; 
            padding: 0 30px;
            transition: all 0.6s;
      
            // Hover style
            &:hover {
              border-radius: 25px 0;
            }
      
            // Glow effect
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(to right, #8673D7, #01FAEB);
              filter: blur(22px);
              transform: scale(0.9, 0.8) translateY(20px);
              z-index: -1;
              opacity: 0;
              transition: all 0.6s;
            }
      
            &:hover::before {
              opacity: 1;
            }
          }
        }
      }
      

  .about{

    height: 100vh; // plein écran
  
    &__content {
      max-width: 900px;
      margin: 0 180px;
      position: relative;
    }
  
    &__text {
      font-size: 32px;
      line-height: 140%;

      &--highlight{
        font-weight: 600;
        font-style: italic;
        color: #8D6BD6;
      }
    }
    &__quote {
        position: absolute;
        right: 0;
        text-align: right;
        font-size: 18px;
        font-style: italic;
        line-height: 1.4;
    }
  }
  
  .explore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  
    &__content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    &__frame {
      background-image: url("assets/img/cadre.svg"); // ton image cadre
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 100px; // ajuste en fonction de ton image
      max-width: 900px;
      width: 100%;
      text-align: center;
      position: relative;
    }
  
    &__img,
    &__img--overlay img {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: block;
    }
  
    &__title {
        
      font-size: 120px;
      margin-top: 30px;
      font-family: 'Azedo', sans-serif;
      font-weight: 700;
    }
  
    &__text {
      font-size: 40px;
      margin-top: 10px;
      font-family: 'Azedo', sans-serif;
      font-weight: 700;
    }
  }
  