// fonts
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Azedo";
  src: url("/fonts/Azedo/Azedo-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brick";
  src: url("/fonts/Brick/Brick.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brick-variant";
  src: url("/fonts/Brick/Brick-Variant.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

:root {
  --bg-image: url("/img/background_dark.png");
  --bg-color: #1e1e1e;

  --text-color: #bfbfbf;
}

*{
  scroll-behavior: smooth;
}

// body 
body {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: repeat;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.slider {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left top; // point pivot en haut à gauche
  z-index: 1000;
  button {
    background-color: #01faeb;
    color: #1e1e1e;
    border: none;
    padding: 10px 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 32px;
    font-family: "Brick-variant", sans-serif;
    cursor: pointer;
  }
  button:hover {
    background-color: #8673d7;
    transition: background-color 0.5s ease;
  }
}

.decorative__ellipse {
  position: absolute;
  top: -20px;
  right: 0;
  height: 100%;
  z-index: -1;
  opacity: 90%;

  &--img {
    width: 100%;
    display: block;
  }
}

// Navigation bar
.nav {
  position: relative;
  margin: auto;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__logo {
    font-family: "Azedo", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 50px;

    &--highlight {
      position: absolute;
      font-family: "Brick", sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #8673d7;
      top: 0;
    }
  }

  &__links {
    display: flex;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    &--item {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
      margin: 0 30px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: var(--text-color);
      }
      a:hover {
        color: #8673d7;
        transition: color 0.3s ease;
      }
    }
  }

  &__separator {
    margin-top: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    min-width: 100%;
    &-img {
      width: 100vw; // toute la largeur de l'écran
      max-width: 100%;
      display: block;
    }
  }
}
// HOME PAGE
//main 
main {
  margin: 0 180px;
}

// Hero section
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; // plein écran
  text-align: center;
  padding: 0 1rem; // un peu d'air sur petits écrans

  &__content {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: 170px;
    font-family: "Azedo", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: -120px;
    color: var(--text-color);
    position: relative;

    &--highlight {
      position: absolute;
      top: -25px;
      left: 40px;
      font-family: "Brick", sans-serif;
      font-size: 96px;
      font-weight: 700;
      color: #8673d7;
    }
  }

  &__text {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: linear-gradient(to right, #8673d7, #01faeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Pour Firefox */
    background-clip: text;
    color: transparent;
  }
  &__btn {
    display: flex;
    justify-content: center;

    &--link {
      background: linear-gradient(to right, #8673d7, #01faeb);
      height: 50px;
      border: none;
      font-size: 1.3rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: #1e1e1e;
      cursor: pointer;
      border-radius: 0 25px;
      position: relative;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      padding: 0 30px;
      transition: all 0.6s;

      &:hover {
        border-radius: 25px 0;
      }

      // effet de lumière floue
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #8673d7, #01faeb);
        filter: blur(22px);
        transform: scale(0.9, 0.8) translateY(20px);
        z-index: -1;
        opacity: 0;
        transition: all 0.6s;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}

// Film card section
.wrapper {
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 400px;

  .film-card {
    position: relative;
    top: 0;
    padding: 2rem;
    background-color: rgba(128, 0, 128, 0.1);
    border-radius: 20px;
    z-index: 2;

    will-change: transform; // ➕ améliore la fluidité
    transition: transform 0.3s ease;

    &__title {
      display: flex;
      font-size: 24px;
      align-items: center;

      img {
        background-color: #bfbfbf;
        border-radius: 100%;
        margin-right: 10px;
      }
    }

    &__tags {
      font-family: "Azedo", sans-serif;
      font-weight: 700;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;

      .film-tag {
        padding: 0.25rem 0.5rem;
        border-radius: 20px;
        color: #1e1e1e;
        &:nth-child(1) {
          background-color: #00FAEB;
        }
        &:nth-child(2) {
          background-color: #8D6BD6;
        }
      }
    }
  }

  .processor-zone {
    margin: 200px 0 0 0;
    position: relative;

    img {
      position: relative;
      z-index: 4;
    }

    .processor__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      z-index: 5;
      
      font-family: "Azedo", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      color: var(--text-color);
      text-decoration: none;

      .processor__logo--highlight {
      position: absolute;
      font-family: "Brick", sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #8673d7;
      top: -30px;
      }
    }

    .alternative-version {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// About section
.about {
  height: 100vh; // plein écran
  position: relative;
  margin-bottom: 600px;

  &__content {
    max-width: 900px;
    padding-bottom: 200px;
  }

  &__text {
    font-size: 32px;
    line-height: 140%;

    &--highlight {
      font-weight: 600;
      font-style: italic;
      color: #8d6bd6;
    }
  }
   &__quote {
    position: absolute;
    text-align: right;    
    font-size: 31px;
    

     &--txt {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    }

    &--author {
      display: block;
      margin-top: 0.5rem;
      font-style: normal;
      font-weight: 600;
    }
  }

    &__separator {
      display: flex;
      justify-content: center;
      margin-top: 200px;
    }
}


    
// Explore section
.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  &__imgs {
    position: relative;
    margin-top: 45px;
    height: 435px;
    width: 600px;
  }
  &__img{
    position: absolute;
    width: auto;
    height: auto;
    overflow:hidden;

    img {
      display: block;
      aspect-ratio: 736 / 534;
    }
  }
// ref: W3 School => https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_image_compare
  .img-comp-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    padding: 10px;
    background-color: #8D6BD6;
    border-radius: 20px;
    font-family: "Brick-variant", sans-serif;
    transform: rotate(-90deg);
    color: black;

    &::before {
      content: "";
      margin-right: 1px;
      position: absolute;
      top: 50%;
      left: 45.5%;
      transform: translate(-50%, -50%);
      width: 435px;
      height: 1px;
      background-color: #8D6BD6;
      border-radius: 20px;
      z-index: -1;
    }
  }
}

.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  &__content {
    text-align: justify;
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-left: 110px;
    margin-bottom: 20px;

    &::marker {
      content: counter(list-item) "/ ";
      color: #8d6bd6;
      font-family: "Brick", sans-serif;
      font-size: 60px;
    } 
  }
}


.frame {
  max-width: 1100px;
  height: 645px;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &--nocenter {
    justify-content: flex-start;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
  }

  &__title {
    position: absolute;
    left: 30px;
    top: 0px;
    font-size: 110px;
    font-family: "Azedo", sans-serif;
    font-weight: 700;
    margin: 0;
  }

  &__txt {
    position: absolute;
    right: 165px;
    bottom: 20px;
    font-size: 30px;
    font-family: "Azedo", sans-serif;
    font-weight: 700;
    margin: 0;
    display: flex;
    text-align: center;

     &--link {
      background: linear-gradient(to right, #8673d7, #01faeb);
      height: 50px;
      border: none;
      font-size: 1.3rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: #1e1e1e;
      cursor: pointer;
      border-radius: 0 25px;
      position: relative;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      padding: 0 30px;
      transition: all 0.6s;


      &:hover {
        border-radius: 25px 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #8673d7, #01faeb);
        filter: blur(22px);
        transform: scale(0.9, 0.8) translateY(20px);
        z-index: -1;
        opacity: 0;
        transition: all 0.6s;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  }

.catalogue-hero {
  padding-top: 70px; // ↓ Pour "redescendre" sous la nav

  &__content {
    padding: 0 20px;
  }

  &__title {
    font-size: 60px;
    font-family: "Azedo", sans-serif; // À ajuster selon ta typo
    font-weight: 700;

    &::after {
      content: "?";
      font-family: 'Brick', sans-serif;
      font-size: 60px;
      color: #8d6bd6;
    }
  }

  &__txt {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    line-height: 140%;
  }
}

// CATALOGUE CARDS

.catalogue {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
  gap: 1rem; /* espace entre les items */
  margin-top: 50px; 

  &__item {
    width: 323px;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(141, 107, 214, 0.4); /* aide de chatgpt pour la conversion en RGBA, fond semi transparent*/
    text-align: center;
    position: relative;
  }
  &__img {
    width: 230px;
    height: 314px;
    object-fit: cover; /* Remplit l’espace sans déformer l’image */
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: scale(1.05); /* Légère augmentation de la taille au survol */
    }
  }
  
  &__title {
      font-size: 24px;
      text-align: left;
      text-transform: uppercase;
      margin: 10px 0 10px 0;
  }
  
  &__description {
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-style: italic;
  }
  
  &__btn {
    position: absolute;
    bottom: 10px;
    right: 20px;

    :hover {
      translate: 0 5px;
    }
  }
}




// Film Page

.movie {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
    padding: 2rem;
    margin-top: 70px;
  }

  &__visual {
    position: relative;
    width: 100%;
    max-width: 720px;
  }

  &__img {
    color: #BFBFBF;
    position: relative;
  
    &--poster {
      width: 600px;
    }
  
    &_separator--upper,
    &_separator--lower {
      position: absolute;
      width: 100%;
      pointer-events: none;
      left: -3px;
    }
  
    &_separator--lower {
      bottom: 20px;
    }
  
  }

  &__title {
    position: absolute;
    margin: 0;
    top: 50px;
    left: 40px;
    font-size: 54px;
    font-family: 'Azedo', sans-serif;
  }

  &__author {
    position: absolute;
    margin: 0;
    top: 100px;
    left: 40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }

  &__duration {
    position: absolute;
    margin: 0;
    top: 130px;
    left: 40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }

  &__release {
    position: absolute;
    margin: 0;
    bottom: 50px;
    left: 330px;
    font-size: 30px;
    font-family: 'Azedo', sans-serif;
    font-weight: 100;
    &--date {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
    }
  }
  
  &__info {
  
    &--title {
      font-size: 30px;
      font-family: 'Azedo', sans-serif;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  
    .movie__actors,
    .movie__synopsis {
      font-size: 1rem;
      line-height: 140%;
      margin-bottom: 100px;
    }
  }
}

  // footer 

.footer {
display: flex;
justify-content: center;
align-items: center;
padding: 100px 0; 
background-color: #8d6bd6;
border-radius: 30px;
padding: 30px 60px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

&__text{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
  margin: 0;
  }
}